/* HOMEPAGE + ABOUT ME */
/* PORTFOLIO */
/* CONTACT ME */
/* THANK YOU */

body {
    background: radial-gradient(#1B2735 0%, #090A0F 100%);
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C7493A;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

a {
    color: #666;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* HEADER */

.glitch-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.header h1 a {
    color: #C7493A;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A33327;
    border-radius: 20px;
    height: 50px;
    max-width: 301px;
}

.nav a {
    color: #A33327;
    font-family: 'Metrophobic', sans-serif;
    text-decoration: none;
    padding: 15px 10px;
}

.nav a:hover {
    background-color: #A33327;
    color: white;
    font-weight: bold;
}

.nav a:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 24px;
}

.nav a:nth-child(2) {
    padding: 15px 10px;
}

.nav a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 20px;
}

/* END OF HEADER */

/* HOME PAGE */
.wrapper {
    border: 1px solid #A33327;
    border-radius: 20px;
    height: auto;
    margin-top: 5%;
}

.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heather {
    text-align: center;
}

.introduction,
.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #EEE;
    border-radius: 20px;
    font-family: 'Metrophobic', sans-serif;
    margin: 3%;
    padding: 3%;
    text-align: left;
}

/* HEATHER WAVING DIV */
.introduction canvas {
    max-height: 250px;
    max-width: 250px;
}

/* LIKE DETAILS BUT NO MARGIN */
.sayhi {
    color: #666;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 1rem;
}

.statContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20% 0;
    width: 100%;
}

.info {
    background-color: #EEE;
    border-radius: 20px;
    margin: 10% 0;
    position: relative;
    width: 95%;
}

.info h3 {
    text-align: left;
    margin-left: 5%;
}

.info p {
    font-family: 'Metrophobic', sans-serif;
    margin: 5%;
    text-align: left;
}

/* DIV FOR HEATHER'S ANIMATION (BACKGROUND IMAGE WHEN THE ANIMATION TAKES TOO LONG TO LOAD) */
#introduction,
#thank-you {
    background-image: url('./img/hi_this_is_kitty.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 250px;
    width: 250px;
}

#introduction p,
#thank-you p {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    z-index: 1;
}

#introduction a,
#thank-you a {
    color: #fff;
}

.details {
    color: #666;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    margin: 1% 5%;
}

.images {
    margin: 5% 0;
    width: 90%;
}

.close {
    height: 100px;
    overflow: hidden;
}

.close:hover {
    cursor: pointer;
}

.close img {
    display: none;
}

/* HUBSPOT FORM */

.hbspt-form {
    margin: 5%;
}

.hs-form-iframe {
    max-height: 750px !important;
}

#hbspt-form-2460c1b9-2177-4210-9d69-eb0bc7995982 {
    height: 200px;
}

#hbspt-form-dd591ea5-1a76-48d4-a2cf-083e96bcba05 #hs-form-iframe-0 {
    max-height: 410px !important;
    overflow: hidden;
}

.contact .hbspt-form {
    max-height: 425px !important;
    overflow: hidden;
}

/* END OF HUBSPOT FORM */

/* PORTFOLIO */

.portfolio_img {
    background-color: #BAB3A9;
    border-radius: 20px;
    color: #FFF;
    font-size: 3rem;
    height: 300px;
    margin: 5% 0;
    object-fit: cover;
    text-align: center;
    text-transform: capitalize;
    width: 250px;
}

.portfolio_img p {
    margin: 0;
    padding-top: 30%;
}

.portfolio_img:nth-child(1) {
    object-fit: fill;
}

/* END OF PORTFOLIO */

@media (min-width: 768px) {

    /* TABLET HEADER */

    .glitch-header {
        flex-direction: row;
    }

    .header {
        width: 40%;
    }

    .nav {
        width: 50%;
        max-width: 376px;
    }

    .nav a:first-child {
        padding-left: 45px;
    }

    .nav a:nth-child(2) {
        padding: 15px 30px;
    }

    .nav a:last-child {
        padding-right: 34px;
    }

    /* END OF TABLET HEADER */

    /* TABLET HOMEPAGE + ABOUT US */

    .wrapper {
        margin-top: 2%;
    }

    .bio {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .bio-text {
        font-size: 1.25rem;
        width: 50%;
    }

    .statContainer {
        justify-content: space-evenly;
        margin: 0;
    }

    .info p {
        margin: 2% 5%;
    }

    .strength.close,
    .detail.close {
        width: 40%;
    }

    .about-me {
        font-size: 1.5rem;
    }

    .about-me h1 {
        margin: 0;
    }

    /* END OF TABLET HOMEPAGE AND ABOUT ME  */

    /* TABLET PORTFOLIO */

    #portfolio-header {
        font-size: 3rem;
        margin: 0;
    }

    .portfolio-pictures {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 85%;
    }

    /* END OF TABLET PORTFOLIO */

    /* TABLET CONTENT */

    .contact {
        width: 50%;
    }

    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* END OF TABLET CONTENT */
}

@media (min-width: 1024px) {

    /* DESKTOP HEADER */

    .glitch-header {
        max-width: 1000px;
    }

    .nav {
        font-size: 1.5rem;
        width: 75%;
        max-width: 485px;
    }

    .nav a {
        padding: 11px 10px;
    }

    .nav a:nth-child(2) {
        padding: 11px 30px;
    }

    .header h1 a {
        font-size: 2.5rem;
    }

    /* END OF DESKTOP HEADER */

    /* DESKTOP HEADER + ABOUT US */

    .wrapper {
        max-width: 1000px;
        width: 100%;
    }

    .heather h1 {
        font-size: 3rem;
    }

    .bio-text {
        font-size: 1.75rem;
    }

    .info {
        margin: 5% 0;
    }

    .info h2 {
        font-size: 2rem;
        margin-top: 5px;
    }

    #ready-to-order h2 {
        font-size: 3rem;
    }

    #ready-to-order h3 {
        font-size: 2rem;
    }

    .statContainer {
        align-items: flex-start;
    }

    .info {
        width: 75%;
    }

    .strength,
    .detail {
        width: 40%;
    }

    /* END OF DESKTOP HOMEPAGE + ABOUT ME */

    /* DESKTOP PORTFOLIO */

    .portfolio-pictures {
        width: 100%;
    }

    /* END OF DESKTOP PORTFOLIO */
}