:root {
    --infill_border: 12px;
    --infill_fill: 16.8%;
    --walls_image: 7px;
}

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow-x: hidden;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #C7493A;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

a {
    color: #666;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #A33327;
    border-radius: 20px;
    height: 50px;
}

.nav a {
    color: #A33327;
    font-family: 'Metrophobic', sans-serif;
    text-decoration: none;
    padding: 15px 10px;
}

.nav a:hover {
    background-color: #A33327;
    color: white;
    font-weight: bold;
}

.nav a:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 25px;
}

.nav a:nth-child(2) {
    padding: 15px 10px;
}

.nav a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 20px;
}

#quote {
    border: 1px solid #A33327;
    border-radius: 20px;
    height: auto;
    margin-top: 5%;
}

.statContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20% 0;
    width: 100%;
}

.insertmodel {
    background-color: #EEE;
    border-radius: 20px;
    position: relative;
    width: 95%;
}

.insertmodel h2,
.insertmodel h3 {
    color: #689775;
}

.insertmodel p {
    font-family: 'Metrophobic', sans-serif;
    margin: 5%;
    text-align: left;
}

.hbspt-form {
    margin: 5%;
    height: 750px;
    overflow: hidden;
}

.details {
    color: #666;
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    margin: 1% 5%;
}

.images {
    margin: 5% 0;
    width: 90%;
}